<h1>Enter Animals Information Below:</h1>
<br>
<form action="/animal/<%= @animal.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p>Name: <input type="text" name="name" value="<%=@animal.name%>"></p>
<p>Species: <input type="text" name="species" value="<%=@animal.species%>"></p>
<p>Gender: <input type="text" name="gender" value="<%=@animal.gender%>"></p>
<p>Age: (baby, young, adult, senior) <input type="text" id="age" name="age" value="<%=@animal.age%>"></p>  

<p>Temperment: (mild, playful, anxious)<input type="text" name="temperment" value="<%=@animal.temperament%>"></p>
<p>Kid-Friendly: (true, false)<input type="text" name="kid_friendly" value="<%=@animal.kid_friendly%>"></p>
<p>Pet-Friendly: (true, false)<input type="text" name="pet_friendly" value="<%=@animal.pet_friendly%>"></p>
  <input class="waves-effect light-blue lighten-2 btn" type="submit" value="Submit">
</form>