<h1>Enter Animals Information Below:</h1>

<p>Species: <input type="text" name="email"></p>
<p>Gender: <%=@animal.gender%></p>
<p>Age: <%=@animal.age%></p>
<p>Temperment: <%=@animal.temperment%></p>
<p>Kid-Friendly: <input type="checkbox" name="kid_friendly" value=true></p>
<p>Pet-Friendly: <input type="checkbox" name="kid_friendly" value=true></p>

<p>Shelter: <a href="/shelter/<%=@shelter.id%>"><%=@shelter.shelter_name%></a</p>
<p>Added: <%=Date.now></p>