<h4>Meet All Our Animals!</h4>

<%Animal.all.each do |animal| %>
<p>Name: <a href="/animal/<%=animal.id%>"><%=animal.name%></a></p>
<p>Species: <%=animal.species%> | Age: <%=animal.age%> | Gender: <%=animal.gender%></p>
<br>
<%end%>

<a href="/shelter" class="waves-effect light-blue lighten-2 btn">Back</a>
<br>