<h4>Meet, <%=@animal.name%>:</h4>
<p>Species: <%=@animal.species%></p>
<p>Gender: <%=@animal.gender%></p>
<p>Age: <%=@animal.age%></p>
<p>Temperment: <%=@animal.temperment%></p>
<%if @animal.kid_friendly == true%>
    <p>Kid-Friendly: Yes</p>
<%else%>
    <p>Kid-Friendly: No</p>
<%end%>
<%if @animal.pet_friendly == true%>
    <p>Pet-Friendly: Yes</p>
<%else%>
    <p>Pet-Friendly: No</p>
<%end%>
<p>Shelter: <a href="/shelter/<%=@shelter.id%>"><%=@shelter.shelter_name%></a></p>
<p>Added: <%=@animal.added%></p>

<p><a href="/shelter/<%= @shelter.id%>/animals" class="waves-effect light-blue lighten-2 btn">Back</a></p>
<br>
<%if logged_in?%>
    <%if @current_shelter == @shelter%>
    <p><a href="/animal/<%= @animal.id%>/edit" class="waves-effect light-blue lighten-2 btn">Edit</a></p>
    <br>
    <form   action="/animal/<%= @animal.id %>" method="post">
	    <input type="hidden" name="_method" value="delete">
	    <input class="waves-effect light-blue lighten-2 btn" type="submit" value="Delete Animal">
    </form>
    <%end%>
<%end%>

