
<br>
<h4>Current Shelters:</h4>
<br>
<%Shelter.all.each do |shelter|%>
<h6><a href="/shelter/<%=shelter.id%>"><%=shelter.shelter_name%></a></h6>
<p> </p>
<p><%=shelter.location%></p>
<p>Call: <%=shelter.phone%> | Open: <%=shelter.hours%></p>
<br>
<%end%>

<a href="/animal" class="waves-effect light-blue lighten-2 btn">View All Animals</a>