<h1>Current Shelters:</h1>
<br>
<%Shelter.all.each do |shelter|%>
<p><a href="/shelter/<%=shelter.id%>"><%=shelter.shelter_name%></a></p>
<p><%=shelter.location%></p>
<p>Call: <%=shelter.phone%> | Open: <%=shelter.hours%></p>
<br>
<%end%>