<h1>Meet Our Animals!</h1>

<%@shelter.animals.each do |animal| %>
<p>Name: <a href="/animal/<%=animal.id%>"><%=animal.name%></a</p>
<p>Species: <%=animal.species%> | Age: <%=animal.age%> | Gender: <%=animal.gender%></p>
<br>
<%end%>


<%if @current_shelter == @shelter%>
<form action="/animal/<%= @animal.id%>/new">
    <input type="submit" value="Add New Animal" />
</form>
<%end%>

<form action="/animal">
    <input type="submit" value="Back"/>
</form>

