<h3>Meet Our Animals!</h3>

<%@shelter.animals.each do |animal| %>
<p>Name: <a href="/animal/<%=animal.id%>"><%=animal.name%></a></p>
<p>Species: <%=animal.species%> | Age: <%=animal.age%> | Gender: <%=animal.gender%></p>
<br>
<%end%>

<a href="/shelter/<%= @shelter.id%>" class="waves-effect light-blue lighten-2 btn">Back</a>
<br>
<%if @current_shelter == @shelter%>
<a href="/animal/<%= @animal.id%>/new"" class="waves-effect light-blue lighten-2 btn">Add New Animal</a>
<%end%>





