<h4><%=@shelter.shelter_name%></h4>

  <p>Address: <%=@shelter.location%></p>
  <p>Email: <%=@shelter.email%></p>
  <p>Phone Number: <%=@shelter.phone%></p>
  <p>Hours of Operation: <%=@shelter.hours%></p>
  <p>Latest animal added: <a href="/animal/<%=@shelter.last_added.id%>"><%=@shelter.last_added.name%></a>
<br>

<p><a href="/shelter/<%= @shelter.id%>/animals" class="waves-effect light-blue lighten-2 btn">Meet Our Animals!</a></p>

<p><a href="/shelter" class="waves-effect light-blue lighten-2 btn">Back</a></p>

<%if logged_in?%>
  <%if current_shelter.id == @shelter.id%>
    <p><a href="/animal/new" class="waves-effect light-blue lighten-2 btn">Add New Animal</a></p>

    <p><a href="/shelter/<%= @shelter.id%>/edit" class="waves-effect light-blue lighten-2 btn">Edit Account</a></p>

    <form action="/shelter/<%= @shelter.id %>" method="post">
	    <input type="hidden" name="_method" value="delete">
	    <input class="waves-effect light-blue lighten-2 btn" type="submit" value="Delete Account">
    </form>
  <%end%>
<%end%>
<br>

