<h3><%=@shelter.shelter_name%></h3>
<br>
  <p>Address: <%=@shelter.location%></p>
  <p>Email: <%=@shelter.email%></p>
  <p>Phone Number: <%=@shelter.phone%></p>
  <p>Hours of Operation: <%=@shelter.hours%></p>

<form action="/shelter/<%= @shelter.id%>/animals">
    <input type="submit" value="Meet Our Animals!" />
</form>

<%if current_shelter == @shelter%>
<form action="/shelters/<%= @shelter.id%>/edit">
    <input type="submit" value="Edit Account" />
</form>

<form action="/shelters/<%= @shelter.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Account">
</form>
<%end%>

<form action="/shelters">
    <input type="submit" value="Back"/>
</form>